<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group"> 
    <%= form.text_field :nick_name, class:"form-control", placeholder:"Nick name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :gender, class:"form-control", placeholder:"gender" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :age, class:"form-control", placeholder:"Age" %>
  </div>

  <div class="field">
    <%= form.label:is_admin %>
    <%= form.check_box :is_admin%>
  </div>

  <div class="field form-group">
    <%= form.text_field :password, class:"form-control", placeholder:"Password" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :game_id, class:"form-control", placeholder:"Game ID" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
