<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4"> Welcom
    <%= @user.name %>!
  </h1>
  <p class="lead">
    <%= @user.email %> | <%= @user.game_id %>
  </p>
  <br />
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-secondary', style: 'color: white;' %> 
  <%= link_to 'Back', users_path, class: 'btn btn-dark', style: 'color: white;' %> 
</div>
<p>
  <strong>Nick name:</strong>
  <%= @user.nick_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Game:</strong>
  <%= @user.game_id %>
</p>


